<div class="page-layout">
    <h2>
        SpaceX Launch Programs
    </h2>
    <div class="spacex-parent-container">
        <form class="spacex-left-container" [formGroup]="spacexFiltersForm">
            <p class="left-container-heading">Filters</p>
            <div>
                <p class="filter-heading">Launch Year</p>
                <div class="year-container">
                    <div class="year-grid" *ngFor="let years of data.yearData">
                        <input type="radio" id="year-{{years.year}}" name="year" value="{{years.year}}" (change)="getData('launch_year', years.year)" formControlName="year" />
                        <label for="year-{{years.year}}">{{years.year}}</label>
                    </div>
                </div>
            </div>
            <div>
                <p class="filter-heading">Successful Launch</p>
                <div class="year-container">
                    <div class="launch-grid">
                        <input type="radio" id="launch-options1" name="launch" value="true" (change)="getData('launch_success', true)" formControlName="launch" />
                        <label for="launch-options1">True</label>
                    </div>
                    <div class="launch-grid">
                        <input type="radio" id="launch-options2" name="launch" value="false" (change)="getData('launch_success', false)" formControlName="launch" />
                        <label for="launch-options2">False</label>
                    </div>
                </div>
            </div>
            <div>
                <p class="filter-heading">Successful Landing</p>
                <div class="year-container">
                    <div class="landing-grid">
                        <input type="radio" id="landing-options1" name="land" value="true" (change)="getData('land_success', true)" formControlName="land" />
                        <label for="landing-options1">True</label>
                    </div>
                    <div class="landing-grid">
                        <input type="radio" id="landing-options2" name="land" value="false" (change)="getData('land_success', false)" formControlName="land" />
                        <label for="landing-options2">False</label>
                    </div>
                </div>
            </div>
        </form>
        <div class="spacex-right-container">
            <div class="spacex-mission-box" *ngFor="let missionData of data.spacexLoadData">
                <div class="mission-content">
                    <img class="program-logo" [src]=missionData.links.mission_patch_small alt="Mission Logo">
                    <p class="mission-name">{{missionData.mission_name}} #{{missionData.flight_number}}</p>
                    <p class="bold">Mission Ids:</p>
                    <ul>
                        <li class="blue" *ngFor="let missionIdData of missionData.mission_id">{{missionIdData}}</li>
                        <li class="blue" *ngIf="!missionData.mission_id.length">Not available</li>
                    </ul>
                    <p>
                        <span class="bold">Launch Year: </span>
                        <span class="blue">{{missionData.launch_year}}</span>
                    </p>
                    <p>
                        <span class="bold">Successful Launch: </span>
                        <span class="blue">{{ missionData.launch_success}}</span>
                    </p>
                    <p>
                        <span class="bold">Successful Landing: </span>
                        <span class="blue">{{ missionData.launch_landing ? missionData.launch_landing : 'Not Available'}}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-content center">
        <span class="center bold">Developed by:</span><span> Shoeb Rizwan Athar</span>
    </div>
</div>